@import "./colors";

//fonts
$evan-font: "Work Sans", Calibri, "Trebuchet MS", sans-serif;
$pacifico: "Pacifico", Calibri, "Trebuchet MS", sans-serif;
$poppins: "Poppins", Calibri, "Trebuchet MS", sans-serif;
$archivo: "Archivo", Calibri, "Trebuchet MS", sans-serif;

body {
  font-family: $poppins;
  background-color: $backgroundGrey;
  li {
    list-style: none;
  }
}
@media only screen and (min-width: 769px) {
  .mobile-home {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .mobile-home {
    display: none;
  }
}

.row-navigation-mobile {
  display: none;
}

.navigation-side-bar {
  background-color: $evanDarkblue;
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
  font-size: 0.85em;
  padding-top: 4vh;
  color: #fff;
  box-shadow: 5px 0 #e6e6e6;

  .name {
    margin-bottom: 15px;
  }

  .profile-photo {
    img {
      border-radius: 50%;
      border: 5px solid #fff;
      height: 180px;
      text-align: center;
      margin-bottom: 25px;
    }
  }

  .description {
    margin-bottom: 30px;
    text-align: center;
  }

  .navigation-items {
    margin-bottom: 30px;
    list-style: none;
    text-align: left;
    font-weight: 800;
    font-size: 1.2em;
    :hover {
      // color: $evanBlue;
    }

    li {
      margin-top: 10px;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .social-icons {
    list-style: none;
    li {
      display: inline-block;
      margin: 5px 25px 0px 0px;

      :hover {
        opacity: 0.5;
      }
      img {
        height: 25px;
      }
    }
  }
}

.main-content {
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  .content-header {
    font-family: $evan-font;
    font-weight: 900;
    text-align: left;
    padding-top: 30px;
    height: 100px;
    span {
      color: $evanDarkblue;
      font-weight: 900;
      padding-right: 5px;
    }
  }

  .main-navigation-items {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: fixed;
    width: 80%;
    top: 0;
    z-index: 1;
    ul {
      background-color: rgba(250, 250, 250, 0.7);
      border-radius: 50px;

      li {
        margin: auto 13px auto 13px;
        width: 7.5vw;
        font-size: 1vw;
      }
    }

    .active {
      background-color: $evanDarkblue;
      color: #fff !important;
    }
  }

  .row-home {
    padding-top: 100px;
    padding-bottom: 100px;

    .home-text {
      padding-top: 23px;
      height: 400px;
      ul {
        li {
          margin-top: 20px;
          list-style: none;
          h3 {
            box-shadow: 10px 10px #e6e6e6;
          }
          .h3-1 {
            width: 20vw;
            background-color: $evanDarkblue;
            mark {
              padding-right: 0.1vw;
              font-family: $evan-font;
              background-color: unset;
              text-decoration: underline;
              text-decoration-color: $evanDarkblue;
              color: #fff;
            }
          }
          .h3-2 {
            width: 28vw;
            background-color: $evanDarkblue;
            text-align: center;

            mark {
              padding-left: 1vw;
              font-family: $evan-font;
              background-color: unset;
              text-decoration: underline;
              text-decoration-color: $evanDarkblue;
              color: #fff;
            }
          }
          .h3-3 {
            width: 35vw;
            background-color: $evanDarkblue;
            text-align: right;

            mark {
              padding-right: 1vw;
              font-family: $evan-font;
              background-color: unset;
              text-decoration: underline;
              text-decoration-color: $evanDarkblue;
              color: #fff;
            }
          }
        }
      }
      blockquote {
        display: block;
        border-width: 2px 0;
        border-style: solid;
        border-color: #eee;
        padding: 1.5em 0 1.5em;
        margin: 1.5em 0 1.5em 2.5em;
        position: relative;
        text-align: center;
      }
      blockquote:before {
        content: "\201C";
        position: absolute;
        top: 0em;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fafafa;
        width: 3rem;
        height: 2rem;
        font: 6em/1.08em "PT Sans", sans-serif;
        color: $evanDarkblue;
        text-align: center;
      }
    }

    .home-image {
      text-align: center;
      img {
        width: 25vw;
        box-shadow: 13px 13px #e6e6e6;
      }
    }
  }

  .skills-row {
    padding-bottom: 30px;
    text-align: center;
    .skill-header {
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: $archivo;
      border-top: 2px solid $evanDarkblue;
      text-align: left;
      background-color: rgba(67, 114, 182, 1);
      color: #fff;
      box-shadow: 5px 8px #e6e6e6;

      span {
        font-size: 13px;
      }
    }

    .skill-header-right {
      text-align: right;
    }
    .skill-item {
      height: 100px;
      margin-top: 50px;
      margin-bottom: 30px;
      border: none;
      h6 {
        font-size: 15px;
      }
      img {
        width: 2.2vw;
        height: 2.2vw;
        margin-bottom: 5px;
        margin-left: 5px;
      }

      p {
        font-size: x-small;
        margin-bottom: unset;
      }
    }
  }

  .projects-row {
    padding-bottom: 100px;
    text-align: center;

    a {
      text-decoration: none;
    }
    .seemore {
      margin-top: 30px;
      text-align: center;

      a {
        text-decoration: none;
        color: #fff;
      }
      :hover {
        background-color: $evanBlue;
      }
      h6 {
        background-color: $evanDarkblue;
        border-radius: 50px;
      }
    }
    .project-row-item {
      background-color: $evanDarkblue;
      margin: 10px;
      padding: 10px;
      height: 150px;
      overflow: hidden;
      box-shadow: 8px 8px #e6e6e6;
      &:hover {
        background-color: $evanBlue;
      }

      &.top-left {
        border-top-left-radius: 30px;
      }
      &.top-right {
        border-top-right-radius: 30px;
      }
      &.bottom-left {
        border-bottom-left-radius: 30px;
      }
      &.bottom-right {
        border-bottom-right-radius: 30px;
      }
      .project-row-item-title {
        color: #fff;
      }
      .project-row-item-image {
        width: 100%;

        img {
          width: 11vw;
        }
      }
      .project-row-item-text {
        padding-top: 10px;
        color: #fff;
        font-size: x-small;
      }
    }
  }

  .personal-row {
    padding-bottom: 30px;

    .personal-row-item {
      height: 150px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow: hidden;
      text-align: center;
      color: #fff;
      position: relative;
      text-align: center;
      box-shadow: 10px 10px #e6e6e6;

      .personal-row-item-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: 120%;
      }

      // p {
      //   font-size: x-small;
      //   padding: 20px;
      // }
    }
  }

  .contact-row {
    height: 100vh;
    margin-bottom: 100px;

    .form-column {
      // background-color: red;
    }

    .form {
      height: 400px;
      background-color: $evanDarkblue;
      padding: 10px;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      border-bottom-right-radius: 25px;
      border-top-left-radius: 25px;
      box-shadow: 13px 13px #e6e6e6;

      input {
        margin-top: 10px;
        border: none;
        border-radius: 0;

        &.input-name {
          border-top-left-radius: 25px;
        }
      }
      textarea {
        margin-top: 10px;
        border: 2px solid #fff;
        height: 200px;
        border-radius: 0;
        border-bottom-right-radius: 25px;
      }

      button {
        margin-top: 20px;
        margin-bottom: 10px;
        border: none;
        border-radius: 50px;
        background-color: $evanLightblue;
        color: #fff;
      }
    }
  }

  .signature-row {
    text-align: center;
    padding-bottom: 10px;
    font-family: $pacifico;
    color: $evanBlue;
  }
}
