body {
  font-family: "Poppins", Calibri, "Trebuchet MS", sans-serif;
  background-color: #fafafa;
}

body li {
  list-style: none;
}

@media only screen and (min-width: 769px) {
  .mobile-home {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 768px) {
  .mobile-home {
    display: none;
  }
}

.row-navigation-mobile {
  display: none;
}

.navigation-side-bar {
  background-color: #4372b6;
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
  font-size: 0.85em;
  padding-top: 4vh;
  color: #fff;
  -webkit-box-shadow: 5px 0 #e6e6e6;
          box-shadow: 5px 0 #e6e6e6;
}

.navigation-side-bar .name {
  margin-bottom: 15px;
}

.navigation-side-bar .profile-photo img {
  border-radius: 50%;
  border: 5px solid #fff;
  height: 180px;
  text-align: center;
  margin-bottom: 25px;
}

.navigation-side-bar .description {
  margin-bottom: 30px;
  text-align: center;
}

.navigation-side-bar .navigation-items {
  margin-bottom: 30px;
  list-style: none;
  text-align: left;
  font-weight: 800;
  font-size: 1.2em;
}

.navigation-side-bar .navigation-items li {
  margin-top: 10px;
}

.navigation-side-bar .navigation-items li a {
  text-decoration: none;
  color: #fff;
}

.navigation-side-bar .social-icons {
  list-style: none;
}

.navigation-side-bar .social-icons li {
  display: inline-block;
  margin: 5px 25px 0px 0px;
}

.navigation-side-bar .social-icons li :hover {
  opacity: 0.5;
}

.navigation-side-bar .social-icons li img {
  height: 25px;
}

.main-content {
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
}

.main-content .content-header {
  font-family: "Work Sans", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  text-align: left;
  padding-top: 30px;
  height: 100px;
}

.main-content .content-header span {
  color: #4372b6;
  font-weight: 900;
  padding-right: 5px;
}

.main-content .main-navigation-items {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: fixed;
  width: 80%;
  top: 0;
  z-index: 1;
}

.main-content .main-navigation-items ul {
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 50px;
}

.main-content .main-navigation-items ul li {
  margin: auto 13px auto 13px;
  width: 7.5vw;
  font-size: 1vw;
}

.main-content .main-navigation-items .active {
  background-color: #4372b6;
  color: #fff !important;
}

.main-content .row-home {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-content .row-home .home-text {
  padding-top: 23px;
  height: 400px;
}

.main-content .row-home .home-text ul li {
  margin-top: 20px;
  list-style: none;
}

.main-content .row-home .home-text ul li h3 {
  -webkit-box-shadow: 10px 10px #e6e6e6;
          box-shadow: 10px 10px #e6e6e6;
}

.main-content .row-home .home-text ul li .h3-1 {
  width: 20vw;
  background-color: #4372b6;
}

.main-content .row-home .home-text ul li .h3-1 mark {
  padding-right: 0.1vw;
  font-family: "Work Sans", Calibri, "Trebuchet MS", sans-serif;
  background-color: unset;
  text-decoration: underline;
  -webkit-text-decoration-color: #4372b6;
          text-decoration-color: #4372b6;
  color: #fff;
}

.main-content .row-home .home-text ul li .h3-2 {
  width: 28vw;
  background-color: #4372b6;
  text-align: center;
}

.main-content .row-home .home-text ul li .h3-2 mark {
  padding-left: 1vw;
  font-family: "Work Sans", Calibri, "Trebuchet MS", sans-serif;
  background-color: unset;
  text-decoration: underline;
  -webkit-text-decoration-color: #4372b6;
          text-decoration-color: #4372b6;
  color: #fff;
}

.main-content .row-home .home-text ul li .h3-3 {
  width: 35vw;
  background-color: #4372b6;
  text-align: right;
}

.main-content .row-home .home-text ul li .h3-3 mark {
  padding-right: 1vw;
  font-family: "Work Sans", Calibri, "Trebuchet MS", sans-serif;
  background-color: unset;
  text-decoration: underline;
  -webkit-text-decoration-color: #4372b6;
          text-decoration-color: #4372b6;
  color: #fff;
}

.main-content .row-home .home-text blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 1.5em;
  margin: 1.5em 0 1.5em 2.5em;
  position: relative;
  text-align: center;
}

.main-content .row-home .home-text blockquote:before {
  content: "\201C";
  position: absolute;
  top: 0em;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fafafa;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em "PT Sans", sans-serif;
  color: #4372b6;
  text-align: center;
}

.main-content .row-home .home-image {
  text-align: center;
}

.main-content .row-home .home-image img {
  width: 25vw;
  -webkit-box-shadow: 13px 13px #e6e6e6;
          box-shadow: 13px 13px #e6e6e6;
}

.main-content .skills-row {
  padding-bottom: 30px;
  text-align: center;
}

.main-content .skills-row .skill-header {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Archivo", Calibri, "Trebuchet MS", sans-serif;
  border-top: 2px solid #4372b6;
  text-align: left;
  background-color: #4372b6;
  color: #fff;
  -webkit-box-shadow: 5px 8px #e6e6e6;
          box-shadow: 5px 8px #e6e6e6;
}

.main-content .skills-row .skill-header span {
  font-size: 13px;
}

.main-content .skills-row .skill-header-right {
  text-align: right;
}

.main-content .skills-row .skill-item {
  height: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
  border: none;
}

.main-content .skills-row .skill-item h6 {
  font-size: 15px;
}

.main-content .skills-row .skill-item img {
  width: 2.2vw;
  height: 2.2vw;
  margin-bottom: 5px;
  margin-left: 5px;
}

.main-content .skills-row .skill-item p {
  font-size: x-small;
  margin-bottom: unset;
}

.main-content .projects-row {
  padding-bottom: 100px;
  text-align: center;
}

.main-content .projects-row a {
  text-decoration: none;
}

.main-content .projects-row .seemore {
  margin-top: 30px;
  text-align: center;
}

.main-content .projects-row .seemore a {
  text-decoration: none;
  color: #fff;
}

.main-content .projects-row .seemore :hover {
  background-color: #57b2df;
}

.main-content .projects-row .seemore h6 {
  background-color: #4372b6;
  border-radius: 50px;
}

.main-content .projects-row .project-row-item {
  background-color: #4372b6;
  margin: 10px;
  padding: 10px;
  height: 150px;
  overflow: hidden;
  -webkit-box-shadow: 8px 8px #e6e6e6;
          box-shadow: 8px 8px #e6e6e6;
}

.main-content .projects-row .project-row-item:hover {
  background-color: #57b2df;
}

.main-content .projects-row .project-row-item.top-left {
  border-top-left-radius: 30px;
}

.main-content .projects-row .project-row-item.top-right {
  border-top-right-radius: 30px;
}

.main-content .projects-row .project-row-item.bottom-left {
  border-bottom-left-radius: 30px;
}

.main-content .projects-row .project-row-item.bottom-right {
  border-bottom-right-radius: 30px;
}

.main-content .projects-row .project-row-item .project-row-item-title {
  color: #fff;
}

.main-content .projects-row .project-row-item .project-row-item-image {
  width: 100%;
}

.main-content .projects-row .project-row-item .project-row-item-image img {
  width: 11vw;
}

.main-content .projects-row .project-row-item .project-row-item-text {
  padding-top: 10px;
  color: #fff;
  font-size: x-small;
}

.main-content .personal-row {
  padding-bottom: 30px;
}

.main-content .personal-row .personal-row-item {
  height: 150px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 10px 10px #e6e6e6;
          box-shadow: 10px 10px #e6e6e6;
}

.main-content .personal-row .personal-row-item .personal-row-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-content .personal-row .personal-row-item img {
  width: 120%;
}

.main-content .contact-row {
  height: 100vh;
  margin-bottom: 100px;
}

.main-content .contact-row .form {
  height: 400px;
  background-color: #4372b6;
  padding: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  -webkit-box-shadow: 13px 13px #e6e6e6;
          box-shadow: 13px 13px #e6e6e6;
}

.main-content .contact-row .form input {
  margin-top: 10px;
  border: none;
  border-radius: 0;
}

.main-content .contact-row .form input.input-name {
  border-top-left-radius: 25px;
}

.main-content .contact-row .form textarea {
  margin-top: 10px;
  border: 2px solid #fff;
  height: 200px;
  border-radius: 0;
  border-bottom-right-radius: 25px;
}

.main-content .contact-row .form button {
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 50px;
  background-color: #6dc4df;
  color: #fff;
}

.main-content .signature-row {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Pacifico", Calibri, "Trebuchet MS", sans-serif;
  color: #57b2df;
}
/*# sourceMappingURL=main.css.map */